nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.navbar{
    list-style: none;
    display: flex;

}
.nav-link + .nav-link{
    margin-left: 2rem;
}